project_id     = "project-a0671d22-a854-4b3c-96b"
region         = "asia-northeast3"
zone           = "asia-northeast3-a"
instance_name  = "gce-k3s-node"
machine_type   = "e2-standard-2"
boot_disk_size_gb = 30
ssh_user       = "ubuntu"
ssh_public_key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIC65RWdubyXhOzwWR0djbHAm2/fuBUcqZc+h9PoRVwl8 dudqj"
